body{
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

h1{
  color: #3f51b5;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.body{
  background: #ff6666;
  padding: 2rem 3rem 3rem;
  margin: 4rem auto;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

table{
  width: 100%;
  text-align: center;
}

th{
  color: #3f51b5;
  background: rgba(255, 255, 255, 0.1);
}
td{
  background: rgba(255, 255, 255, 0.1);
  color: #3f51b5d7;
  border-bottom: 1px solid grey;
}
.creating{
  margin-top: 30px;
}
.creating input{
  color: #3f51b5;
  font-weight: bold;
}

button{
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin: 4px;
  border: 1px solid transparent;
}
button:hover{
  border: 1px solid white;
  transition: 0.5s;
}

.create{
  background-color: green;
  margin-left: 15px;
}

.delete{
  background-color: red;
}

.edit{
  background-color: blue;
}